@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans", "League Spartan", "Bebas Neue", "IBM Plex Sans",
    "Poppins", sans-serif;
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background: inherit;
}
.Toastify__toast-theme--light {
  color: #ffffff;
  border-radius: 15px;
  font-size: 16px;
  background: rgb(233, 0, 0);
  font-family: "NOTO SANS";
  &.Toastify__toast--error {
    background: rgb(233, 0, 0);
  }
  &.Toastify__toast--info {
    background: rgb(225, 230, 230);
    color: black;
  }
  &.Toastify__toast--success {
    background: rgb(8, 217, 221);
  }
  &.Toastify__toast--warning {
    background: rgb(175 187 72);
  }
}
.Toastify__progress-bar {
  background: #f3eeee;
}
.Toastify__toast-icon {
  color: #ffffff;
}
.three-dots {
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.underline {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right:0;
 border-top: 2px solid;
}
// .MuiPaper-root {
//   width: 100%;
//   margin: 0;
//   max-width: 600px;

// }
.content-html {
  & .image > img  {
    max-width: 100%;
    border-radius: 10px;
  }
  & img {
    max-width: 100%;
    border-radius: 10px;
  }
}